@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

         body{
            font-family: 'Open Sans', sans-ser;
            background-color: rgb(122, 33, 33);
            color: white;
            margin: 2rem;
            
        } 

.container { 
    display: flex;
     flex-direction: column; 
    width: 90vw; 
}
#check-button{
    margin-top: 2rem;
}
h1{
    text-align: center;
}